<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">./log</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/log.log"
                     filePattern="${basePath}/log.roll_over.log">
            <!--filePattern="${basePath}/log.${date:yyyy-MM-dd_HH-mm-ss}.log">-->
            <PatternLayout>
                <pattern>[%-5level] %d{MM-dd HH:mm:ss} %F %L, %r ms - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="fileLoggerDebug" fileName="${basePath}/log_DEBUG.log"
                     filePattern="${basePath}/log_DEBUG.roll_over.log">
            <!--filePattern="${basePath}/log_DEBUG.${date:yyyy-MM-dd_HH-mm-ss}.log">-->
            <PatternLayout>
                <pattern>[%-5level] %d{MM-dd HH:mm:ss} %F %L, %r ms - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="log" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="info"/>
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="fileLoggerDebug"/>
        </Root>
    </Loggers>
</Configuration>